p, h1 , h2
    margin-top: 0

h1
    margin-top: 0
    font-size: 3.2rem

.link
    color: $black
    font-weight: 600
    text-decoration: none
    &:hover
        color: $turqoise
    
@media($laptopL)
    h1
        font-size: 6.4rem